@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700&display=swap&subset=latin-ext);
@import "variables";
html {
  font-size: 62.5%;
  font-family: $primary-font;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}
